body {
	margin:0;
	padding:0;
	color:black;
}

header, section, footer {
	margin-left:auto;
	margin-right:auto;
}

#header {
	width: auto;
	min-height: 10em;
	height: auto;
}

#header {
	width: auto;
	height: auto;
	padding: 4em;
}

#footer {
	width: auto;
	height: auto;
	padding: 2em;
}