/*
 * Main colors : (http://flatcolors.net/palette/576-peter-river#)
 * #ECF0F1
 * #C2E0F4
 * #85C1E9
 * #3498DB
 * #1A4C6D
 * #050F15
 */

/**
 * Global
 */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

img.fit {
	max-width: 99%;
	max-height: 99%;
}

p.justified {
	text-align: justify;
}
