/**
 * Navbar
 */
.react-navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}
.react-navbar .navbar-toggle {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
}
.react-navbar .navbar-toggle:focus,
.react-navbar .navbar-toggle:active {
    outline: none;
}
.react-navbar .navbar-brand {
    font-weight: 700;
    font-size: 18px;
}
.react-navbar .navbar-brand:focus {
    outline: none;
}
.react-navbar a {
    color: white;
}
.react-navbar .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}
.react-navbar .nav li a:hover {
    color: rgba(255, 255, 255, 0.8);
    outline: none;
    background-color: transparent;
}
.react-navbar .nav li a:focus,
.react-navbar .nav li a:active {
    outline: none;
    background-color: transparent;
}
.react-navbar .nav li.active {
    outline: none;
}
.react-navbar .nav li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}
.react-navbar .nav li.active a:hover {
    color: white;
}

/**
 * Header
 */
.react-header {
    padding: 3em;
    text-align: center;
    color: #f8f8f8;
    background: url(../assets/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.react-header h2 {
    position: relative;
    text-align: center;
    font-size: 250%;
    color: #050F15;
    margin-bottom: 0;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

/**
 * Footer
 */
.react-footer {
    padding: 1em 0;
    background-color: #ecf0f1;
}

.react-footer p.copyright {
    font-size: small;
    margin: 15px 0 0;
}

.react-footer p.powered {
    font-size: small;
    margin: 15px 0 0;
}

/**
 * Section
 */
.react-section-leftside {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.react-section-rightside {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.react-section-heading {
    margin-bottom: 30px;
}

.react-section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.react-section-image-url {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.img-fluid {
    max-height: 400px;
    max-width: 400px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}
